<html>
    <head>
        </head>
        <body>
    

<form action="" method="post">
    <label for="firstname">First Name:</label>
    <input type="text" id="firstname" name="fname" placeholder="Name"><br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Email"><br>
    <label for="phone">Phone no:</label>
    <input type="number" id="phone" name="phone" placeholder="Phone no"><br>
    <button type="submit">submit</button>
</form>
        </body>
</html>
